<style>
.role-goal .table
{
	margin-bottom:0px;
}
.role-goal td
{
	vertical-align:middle !important;
}
.role-goal .goal-row a
{
	margin-left: 10px;
}
.role-goal .goal-row:nth-child(odd)
{
	background-color: #D8EFF0;;
}
.role-goal .goal-row:nth-child(even)
{
	background-color: #F0F0D8;
}
.role-goal .btn-xs
{
	padding: 0px 5px;
}
.role-goal .role-btn-group
{
	position: absolute;
	top: 0px;
	right: 0px;
	display:none;
}
.role-goal .role-cell:hover .role-btn-group
{
	display:table-cell;
}
.role-goal .goal-row button
{
	display:none;
}
.role-goal .goal-row:hover button
{
	display:inline-block;
}
.role-goal .role-cell
{
	position:relative;
	text-align: center;
	width:150px;
	background-clip: padding-box;
}
.role-goal .editable
{
	min-width:calc(100% - 40px); 
	display: inline-block;
	border-bottom:none !important;
}
</style>
<table class="table table-bordered table-hover">
	<tr>
		<td class="success role-cell">
			<a class="role-editable editable">{{role.name}}</a>
			<span class="btn-group pull-right role-btn-group">
				<button type="button" class="btn btn-success btn-xs" {{action 'deleteRole'}}><span class="glyphicon glyphicon-trash"></span></button>
				<button type="button" class="btn btn-success btn-xs" {{action 'newGoal'}}><span class="glyphicon glyphicon-plus"></span></button>
			</span>
		</td>
		<td>
			{{#each goals as |goal|}}
			{{#unless goal.isDeleted}}
			<div class="goal-row">
				<a class="goal-editable editable" data-id={{goal.id}}>{{goal.content}}</a>
				<button type="button" class="btn btn-success btn-xs pull-right" {{action 'deleteGoal' goal.id}}><span class="glyphicon glyphicon-trash"></span></button>
			</div>
			{{/unless}}
			{{/each}}
		</td>
	</tr>
</table>
